

.logo.logo-primary {
    background-image: url('https://stwcs.disneymovieclub.go.com/static/Acquisition/Redesign/Landing/dmcdisney.png') !important;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
   
}

.workflow-login  .section-primary  .btn-group-create-account {
    display:none;
}
