

.logo.logo-primary {
    background-image: url('https://stwcs.disneymovieclub.go.com/static/Acquisition/Redesign/Landing/dmcdisney.png') !important;
   height: 63px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 74%;
    margin: 20px auto;
}
